name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        # هذا الإصدار هو الأكثر استقراراً ولا يسبب أخطاء في الوصول
        uses: kivy/buildozer-action@v1.1.2
        with:
          python_version: 3.11

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MedicineApp-Final
          path: bin/*.apk